/* appliedCompanies.css */
.applied-companies-container {
  margin: 40px;
  width:100%;
}

.application-card {
  justify-content: center;
  border: 2px solid #cccccc;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  margin-bottom: 40px;
  background-color:rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  transition: transform 0.2s ease-in-out; /* Smooth transition on hover */
  backdrop-filter: blur(10px); /* Correct syntax for backdrop-filter */
  border-radius: 10px; /* Separate line for border-radius */
}

.application-card:hover {
  transform: translateY(-5px); /* Lift the card slightly on hover */
}

.application-card h3 {
  font-size: 1.5rem; /* Larger font size for headings */
  margin-bottom: 10px;
}

.application-card p {
  font-size: 1.1rem; /* Slightly larger font size for paragraphs */
  color: #555; /* Darker text color */
}

.timeline {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-spot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  border: 5px double silver;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
}

.stage-name {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.timeline-line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  margin-top: 35px; /* Adjust as needed for spacing */
}


.completed {
  background-color: green;
}

.in-progress {
  background-color: yellow;
}

.rejected {
  background-color: red;
}
