/* studentHome.css */

.home{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.homepagecontainer{
    display: flex;
   
}

.left {
    display: flex;
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
}
  
.item {
    
    gap: 50px;
}
  
.itemImg {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding:10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
  
.details {
    
    display: flex;
    flex-direction: column;
    padding:10px;
}
  
.itemTitle {
   
    font-size: 24px;
    font-weight: bold;
}
  
.detailItem {
    margin-top: 10px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
  
.itemKey {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.itemValue {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}