.messenger {
  height: calc(100vh-70px);
  display: flex;
  width: 100%;
}

.chatMenu {
  flex: 3;
  padding: 10px;
  border-right: 1px solid;
}

.chatBox {
  flex: 9;
  padding: 10px;
}

.chatMenuWrapper {
  padding: 10px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  height: 100vh;
}

.chatBoxTop {
  flex: 1; /* Takes 80% of the vertical space */
  max-height: 80vh; /* Maximum height to ensure it doesn't exceed 80% of viewport height */
  overflow-y: scroll; /* Enable vertical scrolling if content exceeds max-height */
  padding-right: 10px;
}

.chatMenuInput {
  width: 100%;
  padding: 10px 0;
  border: slateblue;
  border-bottom: 1px solid;
}

/* Styling for the chatBoxBottom container */
.chatBoxBottom {
  height: 20%; 
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #D3D3D3;
  border-top: 1px solid #ccc;
}

/* Styling for the chatMessageInput textarea */
.chatMessageInput {
  flex: 1;
  min-height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  font-size: 16px;
}

/* Styling for the chatSubmitButton */
.chatSubmitButton {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatSubmitButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.noConversationText {
  position: absolute;
  margin-top: 10%;
  font-size: 50px;
  color: gray;
  cursor: default;
}
