/* StudentCredits.css */

.student-credits-container {
  justify-content: center;
  align-items: center;
  width:100%;

}

.student-credits-heading {
  text-align: center;
  margin-top: 50px;
}

.student-credits-table {
  width: 75%;
  border-collapse: collapse;
  margin: 20px auto;
}



.student-credits-table th,
.student-credits-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  background-color: #f2f2f2;
  text-align: center;
}


/* Styling for "Add" buttons */
.student-credits-table button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
}

.student-credits-table button:hover {
  background-color: #45a049;
}
