.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.navbar-nav .nav-link {
  color: rgb(3, 8, 37) !important;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.navbar-nav .nav-link:hover {
  color: rgb(15, 223, 241) !important; /* Change color on hover */
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

.dropdown-item:hover {
  background-color: #20313e; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
  }

  .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler::after {
    content: "☰";
    font-size: 24px;
  }

  .navbar-toggler.active ~ .navbar-nav {
    display: flex;
  }
}
